
:root {
    --heading: 'Anton', sans-serif;
    --sub-heading: 'Kanit', sans-serif;
    --body-text: 'Ubuntu', sans-serif;
    --body-medium: 500;
    --body-regular: 400;
    --dark-green: #094D34;
    --green: #178F5E; 
    --yellow: #F8E364;
    --white: #fff;
    --sub-heading-size: 1.625rem;
    --body-text-size: 1.125rem;
    --heading-size: 4.375rem;
    --sub-heading-margin: 0.938rem;
    --padding: 6.688rem 0;
    --button-text: 1rem;
}

html,body{
    overflow-x: hidden;
}

body {
    font-family: var(--sans-serif);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    line-height: 1.25;
    background: #fff6e1;
}

main {
    flex-grow: 1;
}

img {
    display: block;
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 80rem; 
    margin: 0 auto;
    gap: 1.25rem;
}

.msnry-grid-sizer, 
.msnry-grid-item {
    width: 24.25%;
}

.msnry-grid-item {
    margin-bottom: 1.25rem;
}

.msnry-grid-item img{
    width: 100%;
}



p {
    font-family: var(--body-text);
    font-size: var(--body-text-size);
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.site-header {
    padding: 1rem;
    display: block;
    width: 100%;
    background: #fff6e1;
    
}


.site-header__logo img {
    width: 8rem;
    max-width: 100%;
}
.site-header li{
    list-style: none;
    margin: 0 15px;
}


.site-header__menu ul {
    margin-left: 3rem;
}




/* Icon */

.site-header__menu-icon {
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.site-header__menu-icon a{
    color: var(--dark-green);
    line-height: 0;
    padding: 0.5rem;
}





.site-header__menu {
    flex-grow: 1;       
}



.site-header__wrapper li {
    margin: 0 1.875rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--sub-heading);
}


.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 1.875rem 0;
}

.site-header__logo img {
    width: 8rem;
    max-width: 100%;
}

/* Menu */

.site-header__menu {
    overflow: hidden;
    position: absolute;
    background-color: var(--yellow);
    height: 100%;
    top: 0;
    right: 0;
    width: 17.5rem;
    transform: translateX(100%);
    transition: transform 0.25s ease;
}



.site-header__menu.open {
    transform: translateX(0);
    z-index: 3;
}

.site-header__menu a {
    color: var(--dark-green);
    display: block;
    text-decoration: none;
    padding: 1rem;
}

.site-header__close {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    font-size: 1.5rem;
}

.site-header__close a {
    border: unset;
    padding: 0.75rem;
}







/* Banner */

.banner {
    background-image: url(../images/banner.png);
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	position: relative;
    overflow: hidden;
    z-index: -1;
}

.bg-centre {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_content {
    padding: 9rem 0 8.563rem;
    grid-column: 1 / span 6;
}

.banner_content h1 {
    font-size: 4.375rem;
    text-transform: uppercase;
    line-height: 1.1;
    color: var(--yellow);
}


.banner_content .btn a{
    background: var(--green);
    text-decoration: none;
    color: var(--white);
    font-size: var(--button-text);
    font-family: var(--sub-heading);
    padding: 0.8rem 4rem;
    border-radius: 2rem;
}


.banner_content .btn a:hover{
    background: var(--yellow);
    text-decoration: none;
    color: var(--white);
    font-size: var(--button-text);
    font-family: var(--sub-heading);
    padding: 0.8rem 4rem;
    border-radius: 2rem;
}



.banner .banner_content .btn {
    padding: 3rem 0;
}







h1, h2 {
    font-family: var(--heading);
    text-transform: uppercase;
    font-size: var(--heading-size);
}


/* mission */

.mission {
    background: var(--green);
}

.mission_content {
    grid-column: 3 / span 8;
    text-align: center;
    padding: var(--padding);
}



/* about */


.about .txt-col {
    position: relative;
}


.about .txt-col img {
    position: absolute;
    top: 5rem;
    left: 18rem;
    width: 9rem;
    z-index: -1;
}

.about .txt-col h2 {
    color: var(--dark-green);
    margin-bottom: 3.5rem;
}

.about .txt-col h3 {
    font-family: var(--sub-heading);
    font-size: var(--sub-heading-size);
    color: var(--dark-green);
    text-transform: uppercase;
    margin-bottom: var(--sub-heading-margin);
}

.about .txt-col p {
    line-height: 1.4;
    padding-right: 1rem;
    font-weight: var(--body-regular);
    font-size: var(--body-text-size);
}

.about .txt-col .btn {
    padding: 6rem 0 4rem;
}

.about .txt-col a {
    background: var(--dark-green);
    text-decoration: none;
    color: var(--white);
    font-size: var(--button-text);
    font-family: var(--sub-heading);
    padding: 0.8rem 4rem;
    border-radius: 2rem;
}

.about .txt-col  a:hover {
    background: var(--yellow);
    color: var(--dark-green);
}









/* offers */



.offers {
    text-align: center;
    background: var(--green);
    padding: var(--padding);
}

.offers ul {
    display: flex;
    grid-column: 1 / span all;
    padding: var(--padding);
}



.offers ul h3 {
    font-family: var(--heading);
    font-size: var(--sub-heading-size);
    color: var(--white);
    padding-bottom: 1.9rem;
}

.offers ul p {
    color: var(--white);
    font-size: var(--body-text-size);
    line-height: 1.2;
}



/* dishes */

.special-dishes {
    padding: var(--padding);
    grid-column: 1/span 12;
}

.special-dishes .content{
    grid-column: 1 / span 12;
    position: relative;
}

.special-dishes .content h3{
    font-family: var(--sub-heading);
    font-size: var(--sub-heading-size);
    color: var(--dark-green);
    text-transform: uppercase;
    margin-bottom: var(--sub-heading-margin);
}

.special-dishes .content h2{
    color: var(--dark-green);
}

.special-dishes .dishes {
    padding-top: 2.5rem;
}

.dishes ul {
    display: flex;
    grid-column: 1 / span all;
}




.dishes ul .title {
    display: flex;
    justify-content: space-between;
}

.dishes ul .title h4,
.dishes ul .title h5 {
    font-family: var(--heading);
    font-size: var(--sub-heading-size);
    color: var(--dark-green);
}

.dishes ul li p {
    margin-top: 0.625rem;
    font-size: 1rem;
}


.dishes ul li{display: flex;}

.dishes ul .menu-items {
    justify-content: center;
    align-items: center;
}

.dishes ul .menu-items .item {padding-top: 2.25rem;}

   

/* menu */

.menu {
    padding: var(--padding);
    background: var(--green);
    
}





.menu .txt-col h3{
    font-size: var(--sub-heading-size);
    font-family: var(--sub-heading);
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: var(--sub-heading-margin);
}

.menu .txt-col h2 {color: var(--white);}

.menu .img-gallery {
    max-width: 80rem; 
    margin: 0 auto;
    padding-top: 2.5rem;
}

.menu .txt-col {
    display: flex;
    grid-column: 1 / span 12;
    justify-content: space-between;
}



.menu .txt-col .btn  a {
    background: var(--white);
    text-decoration: none;
    color: var(--dark-green);
    font-size: var(--button-text);
    font-family: var(--sub-heading);
    padding: 0.8rem 4rem;
    border-radius: 2rem;
}

.menu .txt-col .btn a:hover {
    background: var(--yellow);
    color: var(--dark-green);
}


/* contact */


.contact {padding: var(--padding);}


.contact .map {grid-column: 7 / span 6;}

.contact .map img {
    width: 40rem;
    height: 25.813rem;
}

.contact .txt-col {grid-column: 1/ span 5;}

.contact .txt-col h2 {
    color: var(--dark-green);
    margin-bottom: 3.5rem;
}

.contact .txt-col p {
    line-height: 1.2;
    padding-bottom: 5rem;
}

.contact .txt-col ul li {
    margin-bottom: var( --sub-heading-margin);
    font-family: var(--body-text);
    font-size: var(--body-text-size);
    color: var(--dark-green);
}

.contact .txt-col ul .icon {
    color: var(--dark-green);
    padding-right: 0.7rem;
}

/* footer */

.footer {
    background: var(--green);
    padding: 3rem 0 9rem;
}

.footer .footer-nav{display: flex;}


footer { color: var(--white);}

.footer h4 {
    font-family: var(--sub-heading);
    color: var(--white);
    margin-bottom: 2.5rem;
}

.footer li {
    font-family: var(--body-text);
    font-size: var(--body-text-size);
    margin-bottom: 0.5rem;
}





.subscription .input {display: flex;}

.subscription .input input {
    width: 100%;
    padding: 15px 10px 10px;
    font-size: 14px;
    border: none;
    font-family: var(--body-text);
}


.subscription .input .submit {
    background: var(--yellow);
    color: var(--dark-green);
    padding: 15px 10px 10px;
    font-family: var(--body-text);
    text-transform: uppercase;
    font-size: 15px;
}

.subscription .input .submit:hover {
    background: var(--dark-green);
    color: var(--white);
}


@media screen and (min-width: 320px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
        max-width: 20rem; 
        gap: 1rem;
        padding: 0 1rem;
    }

    .msnry-grid-sizer,
    .msnry-grid-item { width: 100%; }
 
    .msnry-grid-item {margin-bottom: 1.25rem;}

    .site-header__menu {overflow: hidden;}


    .site-header__menu.open {
        transform: translateX(0);
        z-index: 3;
        font-size: 1.438rem;
        width: 100%;
        text-align: left;
    }

    
    /* banner */

    

    .banner_content {
        grid-column: 1 / span 4;
        text-align: center;
        padding: 5rem 0 4.563rem;
    }

    .banner_content h1 {
        font-size: 2.4rem;
        line-height: 1.2;
    }

    /* about */


    .about .txt-col {
        grid-column: 1 / span all;
        /* padding: var(--padding); */
        padding: 6.688rem 0 0.625rem;
    }
    

    .about .txt-col h2{font-size: 2.188rem;}

    .about .txt-col h3 {font-size:1.188rem;}

    .about .txt-col img {
        position: absolute;
        top: 6rem;
        left: 8rem;
        width: 6rem;
        z-index: -1;
    }
    
    
    .about {position: relative;}


    .about-image {
        grid-column: 1 / span all;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100vw;
    }

    

    .about-image img {width: 100%;}

    /* mission */

    .mission_content h3 {
        font-family: var(--sub-heading);
        font-size: var(--sub-heading-size);
        color: var(--white);
        padding-bottom: 3.8rem;
        text-transform: uppercase;
    }
    
    .mission_content p {
        color: var(--white);
        line-height: 1.4;
        font-size: 1.5rem;
    }

    .mission_content p {font-size: 1.5rem;}

    .mission_content {
        grid-column: 1 / span 4;
        text-align: center;
    }
    
    
    /* offers */

    .offers h2 {
        grid-column: 1/ span all;
        color: var(--white);
        font-size: 2.188rem;
        padding: 0 1.563rem;
    }

    .offers ul {
        display: flex;
        grid-column: 1 / span all;
        padding: 0.9rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    
    .offers ul h3 {
        font-family: var(--heading);
        font-size: var(--sub-heading-size);
        color: var(--white);
        padding-bottom: 1.9rem;
    }

    
    .offers ul li {
        flex-basis: 100%;
        max-width: 100%;
        padding: 3.5rem 1.9rem;
        
    }

    .offers ul li img {
        width: 300px;
        margin: 0 auto;
    }


    

    /* Special-dishes */
    
  

    .special-dishes .content h2{font-size: 2.188rem;}

    .special-dishes .content h3 {font-size:1.188rem;}

    .special-dishes .content img {
        top: -1rem;
        position: absolute;
        left: 10rem;
        z-index: -1;
        width: 6rem;
    }
    
    .dishes ul li{
        flex-basis: 100%;
        max-width: 100%;
    }

    .dishes ul .title {
        display: flex;
        justify-content: space-between;
    }

    .dishes ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .dishes ul li p {
        margin-top: 0.625rem;
        font-size: 1rem;
    }



    .special-dishes {
        grid-column: 1 / span all;
        padding: var(--padding);
    }

    .dishes ul li:nth-child(3){order: 0;}
    
    .dishes ul li:nth-child(6){order: 0; }

    
    
    
    /* Menu */

    .menu {padding: var(--padding);}

    .menu .txt-col .content{
        text-align: center;
        margin: 0 auto;
    }

    
    .menu .txt-col .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        padding-top: 2rem;
    
    }

    
    .menu .txt-col {flex-wrap: wrap;}


    .menu .txt-col .content h2 {font-size: 2.188rem;}

    .menu .txt-col .content h3{font-size:1.188rem;}

    .menu .txt-col .content a {font-size: var(--button-text);}


    /* Contact */

    .contact .txt-col {
        grid-column: 1/ span all;
        margin: 0 auto;
    }

    .contact .map {
        grid-column: 1 / span all;
        padding-bottom: 6.688rem;
    }
    
    .contact .map img {
        width: 100%;
        object-fit: cover;
        height: 18rem;
        

    }
    
    .contact .txt-col {
        grid-column: 1/ span all;
        padding-top: 6.688rem;
    }

    .contact .txt-col h2 {font-size: 2.188rem;}


    

    

    /* Footer */

    .footer .navigation { grid-column: 1 / span 2;}
    
    .footer .company {grid-column: 3/ span 2;}
    
    .footer .subscription {
        grid-column: 1 / span all;
        order: -1;
        padding-bottom: 3rem;
    }

    
}


@media screen and (min-width: 769px){
    

    .grid {
        grid-template-columns: repeat(12, 1fr);
        max-width: 48rem; 
        gap: 1rem;
    }

     /* site-header */

    .site-header__menu.open {
        transform: translateX(0);
        z-index: 3;
        font-size: 1.5rem;
        width: 50%;
        text-align: center;
    }

    

    /* banner */


    .banner_content h1 {
        font-size: 4.375rem;
        text-transform: uppercase;
        line-height: 1.1;
        color: var(--yellow);
    }


    .banner_content {
        padding: 9rem 0 8.563rem;
        grid-column: 1 / span all;
        text-align: left;
    }

    .banner_content .btn a {font-size: 1.5rem;}

    
    .banner {width: 100%;}


    /* misson */


    .mission_content {grid-column: 2 / span 10;}

    .mission_content h3 {font-size: var(--sub-heading-size);}

    .mission_content p {font-size: 2.125rem;}

    /* about */
    

    .about .txt-col {
        grid-column: 1 / span all;
        padding: var(--padding);
    }

    .about .txt-col img {
        position: absolute;
        top: 6rem;
        left: 18rem;
        width: 8rem;
        z-index: -1;
    }

    .about .txt-col h3 {font-size: var(--sub-heading-size);}

    .about .txt-col p {font-size: 1.688rem;}

    .about .txt-col a {font-size: 1.5rem;}

    .about {position: relative;}


    .about-image {
        grid-column: 1 / span all;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100vw;
    }

    .about .txt-col h2 {font-size: var(--heading-size);}

    .about-image img {width: 100%;}

    /* offers */
    

    .offers ul {
        display: flex;
        grid-column: 1 / span all;
        padding: var(--padding);
        flex-wrap: wrap;
    }
    
    .offers h2 {
        grid-column: 1 / span all;
        color: var(--white);
        font-size: var(--heading-size);
    }

    
    .offers ul h3 {
        font-family: var(--heading);
        font-size: 2.125rem;
        color: var(--white);
        padding-bottom: 1.9rem;
    }

    .offers ul p {
        padding: 0 2rem;
        font-size: 1.5rem;
    }

    
    
    .offers ul li {
        flex-basis: 50%;
        max-width: 50%;
        padding: 3.5rem 0;
    }

    .offers ul li img {
        width: 300px;
        margin: 0 auto;
    }
  
    

    
    /* Image-gallery Menu */
    

    .msnry-grid-sizer,
    .msnry-grid-item { width: 48.5%; }

    .msnry-gutter-sizer { width: 2%; }	
    
    .msnry-grid-item { margin-bottom: 2%; }



    .menu .txt-col .content{
        text-align: center;
        margin: 0 auto;
    }

    
    .menu .txt-col .content h3{
        font-size: var(--sub-heading-size);
    }

    .menu .txt-col .content h2 {font-size: var(--heading-size); }


    
    .menu .txt-col .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
    
    }

    .menu .txt-col .btn a {font-size: 1.5rem;}

    
    .menu .txt-col {flex-wrap: wrap;}

    /* dishes */

    .dishes ul .title h4,
    .dishes ul .title h5 {
        font-size: 2.063rem;
    }

    .special-dishes .dishes ul li p {font-size: 1.125rem;}

    .dishes ul li:nth-child(3){order: 1;}
    
    .dishes ul li:nth-child(6){order: 2;}


    .special-dishes .content h3 {font-size: var(--sub-heading-size);}

    .special-dishes .content img {
        top: -1rem;
        position: absolute;
        left: 22rem;
        z-index: -1;
        width: 8rem;
    }
    

    .dishes ul li {
        flex-basis: 50%;
        max-width: 50%;
    }

    .dishes ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .dishes ul li p {
        margin-top: 0.625rem;
        font-size: 1rem;
        
    }

    .special-dishes .content h2 {font-size: var(--heading-size);}



    /* contact */

    .contact .txt-col h2 {font-size: var(--heading-size);}

    .contact .map {grid-column: 1 / span all;}
    
    .contact .map img {
        width: 100%;
        height: 30rem;
    }
    
    .contact .txt-col {
        grid-column: 1/ span all;
        margin: 0 auto;
    }

    .contact .txt-col p {font-size: 1.688rem;}

    .contact .txt-col ul li {font-size: 1.688rem;}



    /* Footer */


    .footer .navigation {
        grid-column: 1 / span 4;
    }
    
    .footer .company {
        grid-column: 5/ span 8;
    }
    
    .footer .subscription {
        grid-column: 1 / span all;
        order: -1;
        padding-bottom: 3rem;
    }
    
    .footer h4 {font-size:1.625rem;}
    

}








@media screen and (min-width: 1024px){
    .msnry-grid-sizer,
    .msnry-grid-item {
        width: 32%;
    }

}









@media screen and (min-width: 1280px){
    
    .grid {
        grid-template-columns: repeat(12, 1fr);
        max-width: 80rem; 
        gap: 1.25rem;
    }


    /* site-header */
    

    .site-header__menu {
        position: unset;
        transform: unset !important;     
    }

    .site-header__close,
    .site-header__menu-icon {
        display: none;
    }

    .site-header__menu {
        background-color: unset;
        box-shadow: unset;
    }

    .site-header__menu ul {
        border-radius: unset;
        display: flex;
        gap: 1rem;
    }

    .site-header__menu a {
        color: var(--dark-green);
        border-bottom: unset;
        padding: unset;
    }  
    
    .site-header__menu {width: unset;}


    /* banner */
    
    .banner_content h1 {
        font-size: 4.375rem;
        text-transform: uppercase;
        line-height: 1.1;
        color: var(--yellow);
    }

    .banner_content {
        padding: 9rem 0 8.563rem;
        grid-column: 1 / span 6;
        text-align: left;
    }

    .banner_content .btn a{
        background: var(--green);
        text-decoration: none;
        color: var(--white);
        font-size: var(--button-text);
        font-family: var(--sub-heading);
        padding: 0.8rem 4rem;
        border-radius: 2rem;
    }
    
    .banner_content .btn a:hover{
        background: var(--yellow);
        text-decoration: none;
        color: var(--white);
        font-size: var(--button-text);
        font-family: var(--sub-heading);
        padding: 0.8rem 4rem;
        border-radius: 2rem;
    }


    

 


    /* About */

    .about {position: relative;}

    .about-image {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
    }

    /* .about-image {
        grid-column: 1 / span all;
        margin-left: -50vw;
        margin-right: -50vw;
        right: 50%;
        width: 50%;
    } */
    
    .about-image {
        grid-column: 1 / span all;
        left: 50%;
        margin-left: 0;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        width: 50%;
    }


    .about-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .about .txt-col {
        grid-column: 1 / span 6;
        padding: var(--padding);
    }
    
    .about .txt-col h2 {
        color: var(--dark-green);
        margin-bottom: 3.5rem;
        font-size: var(--heading-size);
    }
    
    .about .txt-col h3 {
        font-family: var(--sub-heading);
        font-size: var(--sub-heading-size);
        color: var(--dark-green);
        text-transform: uppercase;
        margin-bottom: var(--sub-heading-margin);
    }

    .about .txt-col img {
        position: absolute;
        top: 6rem;
        left: 18rem;
        width: 8rem;
        z-index: -1;
    }
    
    
    .about .txt-col p {
        line-height: 1.4;
        padding-right: 3.2rem;
        font-weight: var(--body-regular);
        font-size: var(--body-text-size);
    }
    
    .about .txt-col .btn { padding: 6rem 0 4rem;}
    
    .about .txt-col a {
        background: var(--dark-green);
        text-decoration: none;
        color: var(--white);
        font-size: var(--button-text);
        font-family: var(--sub-heading);
        padding: 0.8rem 4rem;
        border-radius: 2rem;
    }

    

    
     /* Image-gallery Menu */

    .msnry-grid-sizer,
    .msnry-grid-item {
        width: 24.25%;
    }

    .msnry-grid-item {margin-bottom: 1%;}
    .msnry-gutter-sizer {width: 1%;}



    .menu .txt-col .btn a {font-size: var(--button-text);}

    

    .menu .txt-col .content h2 {font-size: var(--heading-size);}
    
    /* Misson */

    
    .mission_content h3 {
        font-family: var(--sub-heading);
        font-size: var(--sub-heading-size);
        color: var(--white);
        padding-bottom: 3.8rem;
        text-transform: uppercase;
    }
    
    .mission_content p {
        color: var(--white);
        line-height: 1.4;
        font-size: 1.5rem;
    }
    

    /* Offers */

    .offers ul {
        display: flex;
        grid-column: 1 / span all;
        padding: var(--padding);  
        flex-wrap: nowrap;
    }


    .offers h2 {
        grid-column: 4 / span 6;
        color: var(--white);
        font-size: var(--heading-size);
        padding: 0;
    }

    .offers ul h3 {
        font-family: var(--heading);
        font-size: var(--sub-heading-size);
        color: var(--white);
        padding-bottom: 1.9rem;
    }

    .offers ul p {
        color: var(--white);
        line-height: 1.2;
        font-size: var(--body-text-size);
    }

    .offers ul li {
        flex-basis: 33.3%;
        max-width: 33.3%;
        padding: 0 3.5rem;
    }


    /* Special -dishes */

    .special-dishes .content img {
        top: -1rem;
        position: absolute;
        left: 22rem;
        z-index: -1;
        width: 8rem;
    }

    .dishes ul {display: flex;}

    
    .dishes ul li {
        flex-basis: 33.3%;
        max-width: 33.3%;
    }

    
    
    .dishes ul .title h4,
    .dishes ul .title h5 {
        font-family: var(--heading);
        font-size: var(--sub-heading-size);
        color: var(--dark-green);
    }
    

    .special-dishes .dishes ul li p {font-size: var(--body-text-size);}

    .dishes ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: 1 / span all;
    }
    
 
    .dishes ul .menu-items .item {padding-top: 2.25rem;}

    .special-dishes .content {grid-column: 1 / span all;}

    .special-dishes .content h2{font-size: var(--heading-size);}

    .dishes ul li:nth-child(3){order: 0;}
    
    .dishes ul li:nth-child(6){order: 0;}



    /* Contact */

    .contact .map {
        grid-column: 7 / span 6;
        padding: var(--padding);
    }
    
    .contact .map img {
        width: 40rem;
        height: 25.813rem;
    }
    
    .contact .txt-col {
        grid-column: 1/ span 5;
        padding: var(--padding);
    }

    .contact .txt-col p {font-size: var(--body-text-size);}

    .contact .txt-col ul li {font-size: var(--body-text-size);}


    .contact .txt-col h2 {font-size: var(--heading-size);}
    


    /* Footer */

    .footer .navigation {grid-column: 1 / span 3;}
    
    .footer .company {grid-column: 4 / span 3;}
    
    .footer .subscription {
        grid-column: 8 / span 5;
        order: 0;
    }

    .footer h4 {
        font-family: var(--sub-heading);
        font-size: var(--body-text-size);
        color: var(--white);
        margin-bottom: 2.5rem;
    }
    
    .footer li {
        font-family: var(--body-text);
        font-size: var(--body-text-size);
        margin-bottom: 0.5rem;
    }
    

}




